* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #0e0e0e;
}


main {
    height: 100%;
    width: 100%;
    background-color: #0e0e0e;
}


.section-1 {
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    #anmolbhadwa {
        margin-top: 1.5rem;
    }

    h1 {

        color: #d4c0a2;
        font-size: 3.30rem;
        font-weight: 100;
        text-align: center;
        line-height: 3.2rem;

    }


    p {

        margin-top: 1.5rem;
        text-align: center;
        font-weight: 100;
        font-size: 1.20rem;
        color: #d4c0a2;
        line-height: 1.8rem;

        br {
            display: none;
        }
    }

    img {
        width: 100%;
        object-fit: cover;
    }
}

.view {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 0rem;
    height: 5%;

    color: aliceblue;



    .marque {
        display: flex;
        width: 30%;
        overflow: hidden;
        mask-image: linear-gradient(to left ,transparent , #0e0e0e);
        position: relative;

        
        

        
        
        // &::after{
        //     content: "ANiket";
        //     height: 100%;
        //     width: 50%;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
     
        // }
        


        // &::before{      
        //     content: "";
        //     height: 100%;
        //     width: 50%;
        //     position: absolute;
        //     top: 0%;
        //     right: 0%;
        //     background: linear-gradient(to right,transparent ,#0e0e0e);
        // }

        .text {

            display: flex;
            gap: 2rem;
            padding: 0 2rem;
            animation: marque 5s linear infinite both;
     




            p {
     
                font-size: 2rem;
                font-weight: 100;
            }

        }

        



    }



}


@keyframes marque {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-100%);
    }
}

@media (min-width: 1080px) {
    main {

        width: 100%;

        .section-1 {
            height: 100%;
            width: 100%;
            padding: 2rem 2rem;

            img {
                object-fit: cover;
                width: 26%;

            }

            h1 {
                font-size: 8rem;
                line-height: 6.9rem;
            }

            p {

                br {
                    display: block;
                }
            }

        }
    }

}